.margin-left-sm {
  margin-left: 1.5em;
}
.margin-center {
  /* text-justify: center; */
  margin: 0 1.5em;
}
.image {
  width: 17em;
  height: 17em;
  object-fit: cover;
}
.image-test {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
