.margin-left-sm {
  margin-left: 1.5em;
}
.margin-center {
  /* text-justify: center; */
  margin: 0 1.5em;
}
.image {
  height: 20rem;
  width: 20rem;
}
.image-test {
  /* width: 100%;
  height: 20%; */
  object-fit: scale-down;
}
